<footer>
    <div class="foot">
        <p>
            <span id="copyright"></span><br>
            <span id="joke"></span>
        </p>
    </div>
</footer>

<script>
    $(document).ready(function () {
        const lang_footer = '{{ lang }}';
        let date_str = "2020";
        if ((new Date()).getFullYear() !== 2020)
            date_str += "-" + (new Date).getFullYear();
        $('#copyright').html("Copyright &copy; " + location.hostname + ' ' + date_str)
        $('#joke').html(function () {
            if (lang_footer === 'fr') {
                return "Propulser par du Propergol 🚀";
            } else {
                return "Powered by Rocket Fuel 🚀";
            }
        })
    })
</script>
