{% load static %}
<nav role="navigation">
    <ul class="menu">
        <li id="logo"></li>
        <li id="empty"></li>
        <li id="data"></li>
        <li id="empty"></li>
        <li id="ENSTA_Bretagne"></li>
        <li id="NASA"></li>
        <li id="Django"></li>
        <li id="GitHub"></li>
    </ul>
</nav>
<script type="text/javascript">
    function fill_nav_info(nav_item, nav_info, lang) {
        if (!nav_item in nav_info) {
            throw "Unknown Item " + nav_item;
        }
        if (lang === "fr") {
            return '<a title="' + nav_info[nav_item]["title_fr"] + '" href="' + nav_info[nav_item]["address"] + '">' + nav_info[nav_item]["content_fr"] + "</a>";
        } else {
            return '<a title="' + nav_info[nav_item]["title_en"] + '" href="' + nav_info[nav_item]["address"] + '">' + nav_info[nav_item]["content_en"] + "</a>";
        }
    }

    $(document).ready(
        function () {
            const lang_nav = "{{ lang }}";
            const nav_info = {
                'weatherInsight': {
                    'title_fr': 'Weather InSight',
                    'title_en': 'Weather InSight',
                    'content_fr': '<img alt="Logo Weather Insight" src="{% static 'pages/img/weather_insight_logo_nasa.png' %}">',
                    'content_en': '<img alt="Weather Insight Logo" src="{% static 'pages/img/weather_insight_logo_nasa.png' %}">',
                    'address': "{% url 'pages:index' lang=lang %}",
                },
                'data': {
                    'title_fr': 'Autres Sol',
                    'title_en': 'Other Sol',
                    'content_fr': 'Autres Sol',
                    'content_en': 'Others Sol',
                    'address': "{% url 'pages:sol_list' lang=lang %}",
                },
                'ensta': {
                    'title_fr': 'ENSTA Bretagne',
                    'title_en': 'ENSTA Bretagne',
                    'content_fr': '<img alt="Logo ENSTA-Bretagne" src="{% static 'pages/img/ensta-logoh-noir.png' %}">',
                    'content_en': '<img alt="ENSTA-Bretagne Logo" src="{% static 'pages/img/ensta-logoh-noir.png' %}">',
                    'address': "https://www.ensta-bretagne.fr/" + lang_nav,
                },
                'nasa': {
                    'title_fr': 'NASA',
                    'title_en': 'NASA',
                    'content_fr': '<img alt="Logo NASA" src="{% static 'pages/img/nasa-logo.svg' %}">',
                    'content_en': '<img alt="NASA Logo" src="{% static 'pages/img/nasa-logo.svg' %}">',
                    'address': 'https://www.nasa.gov/',
                },
                'django': {
                    'title_fr': 'Django Project',
                    'title_en': 'Django Project',
                    'content_fr': '<img alt="Logo Django" src="{% static 'pages/img/django_logo.png' %}">',
                    'content_en': '<img alt="Django Logo" src="{% static 'pages/img/django_logo.png' %}">',
                    'address': 'https://www.djangoproject.com/',
                },
                'github': {
                    'title_fr': 'Projet GitHub',
                    'title_en': 'GitHub Project',
                    'content_fr': '<img alt="Logo GitHub" src="{% static 'pages/img/github_logo.svg' %}">',
                    'content_en': '<img alt="GitHub Logo" src="{% static 'pages/img/github_logo.svg' %}">',
                    'address': 'https://github.com/piwithy/WeatherInSight',
                },
            };

            $('#logo').html(fill_nav_info('weatherInsight', nav_info, lang_nav));
            //$('#data').html(fill_nav_info('data', nav_info, lang_nav));
            $('#ENSTA_Bretagne').html(fill_nav_info('ensta', nav_info, lang_nav));
            $('#NASA').html(fill_nav_info('nasa', nav_info, lang_nav));
            $('#Django').html(fill_nav_info('django', nav_info, lang_nav));
            $('#GitHub').html(fill_nav_info('github', nav_info, lang_nav));
        }
    )
</script>

