{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <!-- PAGE CONFIG -->
    <meta charset="UTF-8">
    <title>Weather Insight!</title>
    <link rel="sortcut icon" type="image/png" href="{% static 'pages/img/insight.png' %}">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    <!-- JS Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

    <!-- JQUERY-UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://piwithy.fr/files/libs/jquery-ui/ui/i18n/datepicker-fr.js"></script>

    <!-- DETECT-JS -->
    <script src="{% static 'data_view/js/libs/detect.min.js' %}"></script>

    <!-- CHARTJS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <!-- Project Wide JS -->
    <script type="text/javascript" src="{% static 'data_view/js/support_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'data_view/js/translations.js' %}"></script>
    <script type="text/javascript" id="nav_data">
        const nav_data = [
            {
                id: "ensta",
                title: {
                    fr: "ENSTA-Bretagne",
                    en: "ENSTA-Bretagne"
                },
                content: {
                    fr: '<img style="max-height:50px" alt="Logo ENSTA-Bretagne" src="{% static 'pages/img/ensta-logoh-rvb-blanctransparent.png' %}">',
                    en: '<img style="max-height:50px" alt="ENSTA-Bretagne Logo" src="{% static 'pages/img/ensta-logoh-rvb-blanctransparent.png' %}">'
                },
                "url": "https://www.ensta-bretagne.fr/{{ lang }}"
            },
            {
                id: "nasa",
                title: {
                    fr: "NASA",
                    en: "NASA"
                },
                content: {
                    fr: '<img style="max-height:50px" alt="Logo NASA" src="{% static 'pages/img/nasa-logo.svg' %}">',
                    en: '<img style="max-height:50px" alt="NASA Logo" src="{% static 'pages/img/nasa-logo.svg' %}">'
                },
                url: "https://www.nasa.gov/"
            },
            {
                id: "django",
                title: {
                    fr: "Django Project",
                    en: "Django Project"
                },
                content: {
                    fr: '<img style="max-height:50px" alt="Logo Django" src="{% static 'pages/img/django_logo.png' %}">',
                    en: '<img style="max-height:50px" alt="Django Logo" src="{% static 'pages/img/django_logo.png' %}">'
                },
                url: "https://www.djangoproject.com/"
            },
            {
                id: "github_project",
                title: {
                    fr: "Projet sur GitHub",
                    en: "GitHub Project"
                },
                content: {
                    fr: '<img style="max-height:50px" alt="Logo GitHub" src="{% static 'pages/img/github_logo.svg' %}">',
                    en: '<img style="max-height:50px" alt="GitHub Logo" src="{% static 'pages/img/github_logo.svg' %}">'
                },
                url: "https://github.com/piwithy/WeatherInSight"
            }
        ]
    </script>

</head>
<body>

<div id="wrapper">
    <div id="nav">
        <div id="home_button" style="height: 50px"></div>
        <div id="empty"></div>
        <div id="nav_bar"></div>
    </div>
    <div id="content"><h1 style="text-align: center">Loading. Please Wait</h1></div>

    <div id="footer"></div>
</div>

<script type="text/javascript" id="main_script">
    $(document).ready(function () {


        const lang = "{{ lang }}";

        const home_button = $('#home_button');
        const nav_bar = $('#nav_bar');
        const content = $('#content');
        const footer = $('#footer');

        let user = detect.parse(navigator.userAgent);
        console.log("\"" + user.browser.family + "\"")
        if (user.browser.family === "IE") {
            content.html("<h1 style='text-align: center'> Browser Not Supported </h1>")

        }

        switch (lang) {
            case 'fr':
                document.title = "{{ title_fr }} | " + location.hostname;
                break;
            default:
                document.title = "{{ title_en }} | " + location.hostname;
                break;
        }

        home_button.html("<a href='{% url 'pages:index' lang %}'><img style='max-height:50px' alt='logo' src='{% static 'pages/img/weather_insight_logo_nasa.png' %}'></a>")

        nav_bar.html(function () {
            let nav_str = "<nav role='navigation'><ul>";
            for (let i = 0; i < nav_data.length; i++) {
                nav_str += "<li id='" + nav_data[i].id + "'><a href='" + nav_data[i].url + "'>" + nav_data[i].content[lang] + "</a></li>";
            }
            return nav_str + "</ul></nav>"
        });

        footer.html(function () {
            let copyright_year_str;
            if ((new Date()).getFullYear() !== 2020) {
                copyright_year_str = "2020-" + (new Date()).getFullYear();
            } else {
                copyright_year_str = "2020";
            }
            return "<p>" + "Copyright &copy; " + location.hostname + " " + copyright_year_str + "<br>" + translate('joke', translations, lang) + "</p>"
        });

        content.load("{% url content_id %}");


    });
</script>

</body>
</html>