@font-face {
    font-family: "Futura";
}

body{
    padding: 0;
    margin: 0 10px 0 10px;
}

.content{
    display: flex;
}

.wind_data{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wind_data .chart{
    display: flex;
}

.wind_data .chart .empty{
    flex-grow: 1;
}