{% load static %}
<!-- START OF DJANGO DATA-->
{{ sol_day|json_script:'sol_day' }}
{{ sensors|json_script:'sensors' }}
{{ wind_sectors|json_script:'wind_sectors' }}
<!-- END OF DJANGO DATA-->

<!-- START OF HTML OBJECTS -->
<!--suppress ALL -->
<div id="details">
    <table>
        <caption id="sol_date"></caption>
        <thead id="table_head"></thead>
        <tbody id="table_body"></tbody>
    </table>
    <div id="debug"></div>
</div>
<!-- END OF HTML OBJECTS -->

<!-- START OF JAVASCRIPT -->
<script type="text/javascript">
    $(document).ready(function () {
        /* START of PAGE FUNCTIONS */

        /* END OF PAGES FUNCTIONS */

        /* Start Of Javascript Django DATA  */
        const lang = "{{ lang }}";
        const sol_day = JSON.parse(document.getElementById("sol_day").textContent);
        const sensors = JSON.parse(document.getElementById("sensors").textContent);
        const wind_sectors = JSON.parse(document.getElementById("wind_sectors").textContent);
        /* Start Of Javascript Django DATA  */

        /* START of HTML OBJECT DECLARATION */
        let sol_date_html = $('#sol_date');
        let table_head_html = $('#table_head');
        let table_body_html = $('#table_body');
        let debug_html = $('#debug');
        /* END od HTML OBJECT DECLARATION*/

        /* START OF HTML OBJECT WORK*/
        sol_date_html.html("Sol: " + sol_day['sol_date']);
        table_head_html.html('<tr><th>' + translate('key', translations, lang) + '</th><th>' + translate('value', translations, lang) + '</th></tr>')
        table_body_html.html(function () {
            let out_str = "";
            out_str += "<tr><td>" + translate("sol_date", translations, lang) + "</td><td>" + sol_day['sol_date'] + "</td></tr>";
            out_str += "<tr><td>" + translate("season", translations, lang) + "</td><td>" + translate(sol_day['season'], translations, lang) + "</td></tr>";
            out_str += "<tr><td>" + translate("First_UTC", translations, lang) + "</td><td>" + date_format(new Date(sol_day['First_UTC']), lang) + "</td></tr>";
            out_str += "<tr><td>" + translate("Last_UTC", translations, lang) + "</td><td>" + date_format(new Date(sol_day['Last_UTC']), lang) + "</td></tr>";
            out_str += "<tr><td>" + translate("valid", translations, lang) + "</td><td>" + is_valid(sol_day['valid'], lang) + "</td></tr>";
            for (const sensor in sensors) {
                out_str += '<tr><td>' + translate('sensor', translations, lang) + ': ' + sensor + '</td><td>';
                out_str += '<table>';
                out_str += '<thead><tr><th>' + translate('key', translations, lang) + "</th><th>" + translate('value', translations, lang) + '</th></tr></thead>';
                out_str += '<tbody>';
                out_str += '<tr><td>' + translate('mn', translations, lang) + '</td><td>' + unit_converter(sensor, sensors[sensor]['mn'], lang) + "</td></tr>";
                out_str += '<tr><td>' + translate('av', translations, lang) + '</td><td>' + unit_converter(sensor, sensors[sensor]['av'], lang) + "</td></tr>";
                out_str += '<tr><td>' + translate('mx', translations, lang) + '</td><td>' + unit_converter(sensor, sensors[sensor]['mx'], lang) + "</td></tr>";
                out_str += '<tr><td>' + translate('ct', translations, lang) + '</td><td>' + sensors[sensor]['ct'] + "</td></tr>";
                out_str += '</tbody>';
                out_str += '</table>';
            }
            out_str += "<tr><td>" + translate("wind_sectors", translations, lang) + "</td><td><table><thead><tr><th>" + translate('key', translations, lang) + "</th><th>" + translate('value', translations, lang) + '</th></tr></thead><tbody>'
            for (const sector in wind_sectors) {
                if (sector !== "cnt") {
                    if (sector !== "most_common") {
                        out_str += '<tr><td>' + translate('sector', translations, lang) + ": " + sector + "</td>"
                    } else {
                        out_str += '<tr><td>' + translate('sector', translations, lang) + ": " + translate(sector, translations, lang) + "</td>"
                    }
                    out_str += '<td><table><thead><tr><th>' + translate('key', translations, lang) + "</th><th>" + translate('value', translations, lang) + '</th></tr></thead>'
                    out_str += '<tbody>'
                    out_str += '<tr><td>' + translate('compass_degrees', translations, lang) + "</td><td>" + wind_sectors[sector]['compass_degrees'].toFixed(1) + "°</td></tr>"
                    out_str += '<tr><td>' + translate('compass_point', translations, lang) + "</td><td>" + translate(wind_sectors[sector]['compass_point'], translations, lang) + "</td></tr>"
                    out_str += '<tr><td>' + translate('compass_right', translations, lang) + "</td><td>" + wind_sectors[sector]['compass_right'].toFixed(3) + "°</td></tr>"
                    out_str += '<tr><td>' + translate('compass_up', translations, lang) + "</td><td>" + wind_sectors[sector]['compass_up'].toFixed(3) + "°</td></tr>"
                    out_str += '<tr><td>' + translate('ct', translations, lang) + "</td><td>" + wind_sectors[sector]['ct'] + "</td></tr>"
                    out_str += '</tbody></table></td></tr>'
                }
            }
            out_str += "</tbody></table></td>"

            return out_str
        })
        //$debug_html.html("sol_day<br><pre>" + JSON.stringify(sol_day, null, 4) + "</pre><br>sensors<br><pre>" + JSON.stringify(sensors, null, 4) + "</pre><br>wind_sectors<br><pre>" + JSON.stringify(wind_sectors, null, 4) + "</pre>")
        /* END OF HTML OBJECT WORK */
    })
</script>
<!-- END OF JAVASCRIPT -->
