{% load static %}
{{ sol_days |json_script:'sol_days_json' }}
<div id="list">
    <table>
        <thead>
        <tr>
            <th id="sol_day_h"></th>
            <th id="first_utc_h"></th>
            <th id="last_utc_h"></th>
            <th id="season_h"></th>
            <th id="wind_rose_h"></th>
            <th id="details_h"></th>
        </tr>
        </thead>
        <tbody id="list_body"></tbody>
    </table>
</div>

<pre id="debug"></pre>

<script>
    $(document).ready(function () {
        const lang_list = '{{ lang }}';
        const sol_days = sortByKey(JSON.parse(document.getElementById('sol_days_json').textContent))
        $('#sol_day_h').html('Sol')
        $('#first_utc_h').html(key_format('from', lang_list));
        $('#last_utc_h').html(key_format('to', lang_list));
        $('#season_h').html(key_format('season', lang_list));
        $('#wind_rose_h').html(key_format('wind_rose', lang_list));
        $('#details_h').html(key_format('details', lang_list));
        $('#list_body').html(function () {
            let out_str = "";
            if (Object.keys(sol_days).length !== 0) {
                const sz_sol_day = sol_days.length
                for (const i in sol_days) {
                    let j = sz_sol_day - i - 1;
                    out_str += "<tr>";
                    out_str += "<td>" + sol_days[j][0] + "</td>"
                    out_str += "<td>" + date_format(new Date(sol_days[j][1]['first_utc']), lang_list) + "</td>"
                    out_str += "<td>" + date_format(new Date(sol_days[j][1]['last_utc']), lang_list) + "</td>"
                    out_str += "<td>" + key_format(sol_days[j][1]['season'], lang_list) + "</td>"
                    let url_mask = "{% url 'pages:sol_wind_rose' lang=lang sol_key="sol_key_from_js" %}".replace("sol_key_from_js", sol_days[j][0])
                    out_str += "<td><a href='" + url_mask + "'>" + key_format("wind_rose", lang_list) + "</a>"
                    url_mask = "{% url 'pages:sol_detail' lang=lang sol_key="sol_key_from_js" %}".replace("sol_key_from_js", sol_days[j][0])
                    out_str += "<td><a href='" + url_mask + "'>" + key_format("more_info", lang_list) + "</a>"
                    out_str += "</tr>";
                }
                out_str += "<tr><td colspan='6'><a href='{% url 'pages:request_viewer' lang=lang %}'>"
                if (lang_list === 'fr') {
                    out_str += "Voir le résultat complet";
                } else {
                    out_str += "See full response";
                }
                out_str += "</a></td></tr>"
            } else {
                if (lang_list === 'fr') {
                    out_str += "<tr><td colspan='6'>Aucune Donée Disponible</td></tr>";
                } else {
                    out_str += "<tr><td colspan='6'>No Data Available</td></tr>";
                }
            }
            return out_str;
        })
        //$('#debug').html(JSON.stringify(sol_days, null, 4))
    })

</script>