{% load static %}
{{ header|json_script:'header_data' }}
{{ body|json_script:'body_data' }}

<h1 id="page_title" style="text-align: center;"></h1>

<!--
<div id="request">
    Disabling request display    
    <div id="head">
        <table>
            <caption id="head_table_caption"></caption>
            <thead id="head_table_head"></thead>
            <tbody id="head_table_body"></tbody>
        </table>

        <table>
            <caption id="body_table_caption"></caption>
            <thead id="body_table_head"></thead>
            <tbody id="body_table_body"></tbody>
        </table>
    </div>

    <div class="debug"></div>
</div>
-->
<script>
    $(document).ready(function() {
        const lang = "{{ lang }}"
        if (lang === "fr"){
            $("#page_title").html("Cette page n'est plus disponible.");
        }else {
            $("#page_title").html("This page is no longer available, since Insight reached it's end of life.");
        }
    });
    /* Disabling request display
    $(document).ready(function () {
        const lang = "{{ lang }}"
        const head_data = JSON.parse(document.getElementById("header_data").textContent);
        const body_data = JSON.parse(document.getElementById("body_data").textContent);
        $('#head_table_caption').html(translate('request_head', translations, lang))
        $('#head_table_head').html("<tr><th>" + translate('key', translations, lang) + "</th><th>" + translate('value', translations, lang) + "</th></tr>")
        $('#head_table_body').html(function () {
            let out_str = "";
            for (const key in head_data) {
                out_str += "<tr><td>" + key + "</td><td>" + head_data[key] + "</td></tr>"
            }
            return out_str
        });

        $('#body_table_caption').html(translate('request_body', translations, lang))
        $('#body_table_head').html("<tr><th>" + translate('key', translations, lang) + "</th><th>" + translate('value', translations, lang) + "</th></tr>")
        $('#body_table_body').html(function () {
            let out_str = "";
            for (const key in body_data) {
                out_str += "<tr><td>" + translate(key, translations, lang) + "</td><td><pre style='text-align: left'>" + JSON.stringify(body_data[key], null, 2) + "</pre></td></tr>"
            }
            return out_str
        })

        //$('.debug').html('HEAD:<br><pre>' + JSON.stringify(head_data, null, 4) + '</pre><br>BODY:<br><pre>' + JSON.stringify(body_data, null, 4) + "</pre>");
    })
    */
</script>