{% load static %}
<!-- START OF DJANGO DATA-->
{{ sol_day|json_script:'sol_day' }}
{{ sensors|json_script:'sensors' }}
{{ wind_sectors|json_script:'wind_sectors' }}
<!-- END OF DJANGO DATA-->


<!--suppress ALL -->
<div id="wind_rose">
    <div id="chart">
        <div id="chart_title"></div>
        <div id="chart_area">
            <canvas id="wind_chart"></canvas>
        </div>
        <div id="chart_fact"></div>
    </div>

    <div id="sensors_tables"></div>

    <div id="debug" style="text-align: left"></div>
</div>


<script>

    $(document).ready(function () {

        const lang = '{{ lang }}';
        const sol_day = JSON.parse(document.getElementById('sol_day').textContent);
        const sensors = JSON.parse(document.getElementById('sensors').textContent);
        const wind_sectors = JSON.parse(document.getElementById('wind_sectors').textContent);

        const sensors_facts = {
            "AT": {
                'fr': "La Temperature Moyenne sur Terre et de 15 °C",
                'en': "Average Temperature on Earth is " + celsius_2_fahrenheit(15).toFixed(0) + " °F",
            },
            "PRE": {
                'fr': 'Soit ' + ((sensors['PRE']['av'] / 101325) * 100).toFixed(2) + "% de la Pression Atmospherique Terrestre ",
                'en': 'Only ' + ((sensors['PRE']['av'] / 101325) * 100).toFixed(2) + "% of Earth Atmospheric Pressure",
            },
            "HWS": {
                'fr': "Pendant un Tempête le vent souffle a environ 100 km/h",
                'en': "Durring a Storm wind speed is " + (100 / 1.609).toFixed(0) + " mph",
            }
        }

        $('#chart_title').html('<span>' + translate('chart_title', translations, lang) + " " + sol_day['sol_date'] + ' (' + time_span(new Date(sol_day['First_UTC']), new Date(sol_day['Last_UTC']), lang) + ') </span>')

        $('#chart_fact').html(function () {
            if (lang === 'fr') {
                return 'Au Sol ' + sol_day['sol_date'] + ' le vent le plus présent était orienté ' + translate(wind_sectors['most_common']['compass_point'], translations, lang)
            } else {
                return 'On Sol ' + sol_day['sol_date'] + ' ' + translate(wind_sectors['most_common']['compass_point'], translations, lang) + ' was the most common wind'
            }
        })

        const chart_ctx = document.getElementById('wind_chart');
        let chart_wind_sectors = new Chart(chart_ctx, {
            type: 'radar',
            data: {
                labels: (new Array(16)).fill(0).map((empty, idx) => wind_sectors[idx] ? translate(wind_sectors[idx]['compass_point'], translations, lang) : translate("wd_no_dir", translations, lang)),
                datasets: [{
                    label: translate('chart_data_title', translations, lang),
                    data: (new Array(16)).fill(0).map((empty, idx) => wind_sectors[idx] ? (wind_sectors[idx]['ct'] / (wind_sectors['cnt'] / 100)).toFixed(3) : 0),
                    backgroundColor: [
                        'rgba(255, 61, 33, .6)',
                    ],
                    borderColor: [
                        'rgba(255, 61, 33, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scale: {
                    ticks: {
                        display: false,
                        backdropColor: 'rgba(0,0,0,0)',
                        fontColor: 'white'
                    },
                    pointLabels: {
                        fontColor: 'white'
                    },
                    gridLines: {
                        color: '#ccc'
                    },
                    angleLines: {
                        color: '#ddd'
                    }
                },
                legend: {
                    labels: {
                        fontColor: 'white'
                    }
                }
            }

        })

        $('#sensors_tables').html(function () {
            let out_str = ""
            out_str += '<div class="empty"></div>'
            for (const key in sensors) {
                out_str += "<table><thead><tr>"
                out_str += "<th colspan='2'>" + translate(key, translations, lang) + "</th>"
                out_str += "</tr></thead><tbody>"
                out_str += "<tr><td>" + translate("min_short", translations, lang) + " " + unit_converter(key, sensors[key]['mn'], lang) + "</td>"
                out_str += "<td>" + translate("max_short", translations, lang) + " " + unit_converter(key, sensors[key]['mx'], lang) + "</td></tr>"
                out_str += "<tr><td colspan='2'>" + translate("average_short", translations, lang) + " " + unit_converter(key, sensors[key]['av'], lang) + "</td></tr>"
                out_str += "<tr><td colspan='2'>" + sensors_facts[key][lang] + "</td></tr>"
                out_str += "</tbody></table>"
                out_str += '<div class="empty"></div>'
            }

            return out_str
        })

        //$('#debug').html('sol_day<br><pre>' + JSON.stringify(sol_day, null, 4) + '</pre><br>sensors<br><pre>' + JSON.stringify(sensors, null, 4) + '</pre><br>wind sectors<br><pre>' + JSON.stringify(wind_sectors, null, 4) + "</pre>")
    })
</script>