{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sol Days Recorded</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'data_request/style.css' %}">
</head>
<body>
<nav class="nav_bar" role="navigation">
    <ul class="menu">
        <li id="logo">
            <a title="index" href="https://weatherinsight.space">
                <img alt="Weather InSight" src="{% static 'pages/img/weather_insight_logo_nasa.png' %}">
            </a>
        </li>

        <li id="empty"></li>

        <li id="data">
            <a title="Gathered Data" href="{% url 'data_request:index' %}">
                Gathered Data
            </a>
        </li>

        <li id="empty"></li>

        <li>
            <a title="ENSTA Bretagne" href="https://www.ensta-bretagne.fr/">
                <img src="{% static 'pages/img/ensta-logoh-noir.png' %}" height="100" alt="ENSTA-Bretagne">
            </a>
        </li>
        <li>
            <a title="NASA" href="https://nasa.gov/">
                <img src="{% static 'pages/img/nasa-logo.svg' %}" height="100" alt="NASA">
            </a>
        </li>
        <li>
            <a title="Django Project" href="https://www.djangoproject.com/">
                <img src="{% static 'pages/img/django_logo.png' %}" height="100" alt="Django Project">
            </a>
        </li>
        <li>
            <a title="Project Github" href="https://github.com/piwithy/WeatherInSight">
                <img src="{% static 'pages/img/github_logo.svg' %}" height="100" alt="project GitHub">
            </a>
        </li>
    </ul>
</nav>
<div class="data">
    <table>
        <caption>Sol Days Data</caption>
        <thead>
        <tr>
            <th scope="col">Sol Day</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Season</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        {% for sol_day in sol_days %}
            <tr>
                <td data-label="Sol Day">{{ sol_day.sol_date }}</td>
                <td data-label="From">{{ sol_day.first_utc }}</td>
                <td data-label="To">{{ sol_day.last_utc }}</td>
                <td data-label="Season">{{ sol_day.season }}</td>
                <td data-label="Details"><a href="{% url 'data_request:detail' sol_day.sol_date %}">More Info</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>