{% load static %}
{% load extra_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Request from nasa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'data_request/style_0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
</head>
<body>
<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>
<div class="header_data">
    <h1>Header data</h1>
    <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key,value in header_data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="body_data">
    <h1>Body data</h1>
    <pre>{{ body_data | pretty_json }}</pre>
</div>
<div class="footer">{% include 'pages/footer.html' %}</div>
</body>
</html>