{% load static %}
{% load extra_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wind Rows on Sol {{ sol_day.sol_date }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    {{ wind_sectors_json |json_script:"wind_data" }}
    {{ sol_day_json| json_script:"sol_day_data" }}
</head>
<body>
<nav class="nav_bar" role="navigation">
    <ul class="menu">
        <li id="logo">
            <a title="index" href="{% url 'pages:index' %}">
                <img alt="Weather InSight" src="{% static 'pages/img/weather_insight_logo_nasa.png' %}">
            </a>
        </li>

        <li id="empty"></li>

        <li id="data">
            <a title="Gathered Data" href="{% url 'data_request:index' %}">
                Gathered Data
            </a>
        </li>

        <li id="empty"></li>

        <li>
            <a title="ENSTA Bretagne" href="https://www.ensta-bretagne.fr/">
                <img src="{% static 'pages/img/ensta-logoh-noir.png' %}" height="100" alt="ENSTA-Bretagne">
            </a>
        </li>
        <li>
            <a title="NASA" href="https://nasa.gov/">
                <img src="{% static 'pages/img/nasa-logo.svg' %}" height="100" alt="NASA">
            </a>
        </li>
        <li>
            <a title="Django Project" href="https://www.djangoproject.com/">
                <img src="{% static 'pages/img/django_logo.png' %}" height="100" alt="Django Project">
            </a>
        </li>
        <li>
            <a title="Project Github" href="https://github.com/piwithy/WeatherInSight">
                <img src="{% static 'pages/img/github_logo.svg' %}" height="100" alt="project GitHub">
            </a>
        </li>
    </ul>
</nav>
<div id="wd_plot" style="width: 480px; height: 480px;"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="wd_most_common"><!-- Most common wind direction will be inside this DIV --></div>

<div class="holder">
    <canvas id="wind_char"></canvas>
</div>

<script>
    const cpoints = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];
    $(document).ready(plot_sol_data());
    //////////////////////////////////////////////////////////////////////
    // Plot Wind Direction (WD) data for one Sol to #wd_plot DIV
    //////////////////////////////////////////////////////////////////////
    function plot_sol_data() {
        const wd_obj = JSON.parse(document.getElementById("wind_data").textContent); //sol_obj.WD;   // Wind direction object for Sol
        const sol_obj = JSON.parse(document.getElementById("sol_day_data").textContent);
        // fill compass points with sol data
        var vals = (new Array(16)).fill(0).map((empty, idx) => wd_obj[idx] ? ((wd_obj[idx].ct/wd_obj.cnt)*100) : 0);
        var wd_data = [{               // Load WD data as one-element array
            r: vals,
            t: cpoints,
            name: `Sol ${sol_obj.sol_date}`,
            marker: {color: 'rgb(251,61,33)'},
            type: 'area'
        }];
        var wd_layout = {              // Load WD plot layout
            font: {size: 16},
            title: `Wind Direction Distribution on Sol ${sol_obj.sol_date}`,
            //legend: {font: {size: 16}},
            radialaxis: {ticksuffix: ''},
            orientation: 270
        };
        Plotly.newPlot('wd_plot', wd_data, wd_layout);     // Plot wind rose
        // Add most common wind direction
        $('#wd_most_common').html(`Most common wind direction is ${wd_obj.most_common ? wd_obj.most_common.compass_point : 'undefined'}`)
    }
</script>

<!--<script>
    var ctx = document.getElementById("wind_char");
    const wd_obj = JSON.parse((document.getElementById("wind_data").textContent));
    var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'],
                datasets:[{
                    label:'% of Wind Presence'
                    data: (new Array(16)).fill(0).map((empty, idx) => wd_obj[idx] ? ((wd_obj[idx].ct / wd_obj.cnt) * 100) : 0),
                    backgroundColor: 'transparent',
                    borderColor: [
                        'rgb(251,61,33)',
                    ],
                    borderWidth: 4
                }]
            },
            options:{
                scale{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        }
                    }]
                }
            }
        }
    )

</script>-->

</body>
</html>