.nav_bar{
    margin:0;
    padding:0;
    background: #ccc;
}

.nav_bar ul{
    padding-left: 0;
    list-style: none;
}

.nav_bar ul li{
    display: block;
    font-size: 45px;
}

.nav_bar #empty{
    flex-grow: 1;
}

.nav_bar a {
    padding: .1em;
    display: block;
    text-align: center;
    text-decoration: none;
    max-height: 50px;
}

.nav_bar a:hover{
    background: #DDDDDD;
}

.nav_bar img{
    height: 50px;
}

.nav_bar .menu{
    display: flex;
    flex-direction: row;
}

@media(max-width:650px){
    .nav_bar .menu{
        flex-direction: column;
    }

    .nav_bar #empty{
        flex-grow: 0;
    }
}
