@font-face {
    font-family: "Futura Condensed Bold";
    src: url("/static/pages/fonts/Futura_Condensed_Extra_Bold.otf");
}
@font-face {
    font-family: "Futura Condensed";
    src: url("/static/pages/fonts/Futura_Light.ttf");
}

body {
    margin: 0 10px 0 10px;
    font-family: 'Futura Condensed', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content #empty {
    flex-grow: 10;
}

.content img {
    max-width: 600px;
}


.content table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.content table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.content table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.content table th,
.content table td {
    padding: .625em;
    text-align: center;
}

.content table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .content table {
        border: 0;
    }

    .content table caption {
        font-size: 1.3em;
    }

    .content table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .content table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .content table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .content table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .content table td:last-child {
        border-bottom: 0;
    }
}