{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather InSight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}"> <!-- Feuille de style pour la bar de navigation -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style_0.css' %}"><!-- Feuille de style pour le contenu -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}"><!-- Feuille de style pour le pied de page -->
</head>
<body>

<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>
<div class="content">
    <!-- TODO Contenue de la page -->
</div>
<div class="footer">{% include 'pages/footer.html' %}</div>
</body>
</html>
