{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if sol_day %}
        <title>Weather InSight | Detail for Sol {{ sol_day.sol_date }}</title>
    {% else %}
        <title>Weather InSight | Error</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}">
</head>
<body>

<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>

<div class="content">
    {% if sol_day %}
        <table>
            <caption>Sol Day: {{ sol_day.sol_date }}</caption>
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Sol Date</td>
                <td>{{ sol_day.sol_date }}</td>
            </tr>
            <tr>
                <td>Season</td>
                <td>{{ sol_day.season }}</td>
            </tr>
            <tr>
                <td>First UTC</td>
                <td>{{ sol_day.first_utc }}</td>
            </tr>
            <tr>
                <td>Last UTC</td>
                <td>{{ sol_day.last_utc }}</td>
            </tr>
            <tr>
                <td>Validated</td>
                <td>{% if sol_day.validated > 0 %} True {% else %} False {% endif %}</td>
            </tr>
            {% for sensor in sensors %}
                <tr>
                    <td>Sensor: {{ sensor.sensor }}</td>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Average Value</td>
                                <td>{{ sensor.average_value }}{% if sensor.sensor == "AT" %}
                                    °C{% elif sensor.sensor == "HWS" %}
                                    m/s{% else %}Pa{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Sample Count</td>
                                <td>{{ sensor.sample_count }}</td>
                            </tr>
                            <tr>
                                <td>Minimum Value</td>
                                <td>{{ sensor.minimum_value }}{% if sensor.sensor == "AT" %}
                                    °C{% elif sensor.sensor == "HWS" %}
                                    m/s{% else %}Pa{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Maximum Value</td>
                                <td>{{ sensor.maximum_value }}{% if sensor.sensor == "AT" %}
                                    °C{% elif sensor.sensor == "HWS" %}
                                    m/s{% else %}Pa{% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>Wind Data</td>
                <td>
                    <table>
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sector in wind_sectors %}
                            <tr>
                                <td>Sector {% if sector.sector == -1 %}Most Common {% else %}
                                    {{ sector.sector }}{% endif %}</td>
                                <td>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Key</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Compass Degrees</td>
                                            <td>{{ sector.compass_degrees }}°</td>
                                        </tr>
                                        <tr>
                                            <td>Compass Point</td>
                                            <td>{{ sector.compass_point }}</td>
                                        </tr>
                                        <tr>
                                            <td>Compass Right</td>
                                            <td>{{ sector.compass_right }}°</td>
                                        </tr>
                                        <tr>
                                            <td>Compass Up</td>
                                            <td>{{ sector.compass_up }}°</td>
                                        </tr>
                                        <tr>
                                            <td>Sample Count</td>
                                            <td>{{ sector.ct }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <h1 style="text-align: center">Data unavailable, Sorry :'( </h1>
    {% endif %}
</div>
<div class="footer">{% include 'pages/footer.html' %}</div>
</body>
</html>
