{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather InSight | Coming Soon!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style_0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}">
</head>
<body>

<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>
<div class="content">
    <span id="empty"></span>
    <h1 Class="project_logo"><img src="{% static 'pages/img/weather_insight_logo_nasa.png' %}" alt="Weather InSight">
    </h1>
    <h2>
        <span class="project_slogan">Mars Weather right down to earth thanks to InSight</span>
    </h2>
    <p class="project_description">
        You ever wandered what's the weather on MARS?
        <br>
        When we will have finished YOU will know
    </p>
    <span id="empty"></span>
</div>
<div class="footer">{% include 'pages/footer.html' %}</div>
</body>
</html>
