{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather InSight | Coming Soon!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
</head>
<body>
<nav class="nav_bar" role="navigation">
    <ul class="menu">
        <li id="logo">
            <a title="index" href="https://weatherinsight.space">
                <img alt="Weather InSight" src="{% static 'pages/img/weather_insight_logo_nasa.png' %}">
            </a>
        </li>
        <li id="empty"></li>

        <li>
            <a title="ENSTA Bretagne" href="https://www.ensta-bretagne.fr/">
                <img src="{% static 'pages/img/ensta-logoh-noir.png' %}" height="100" alt="ENSTA-Bretagne">
            </a>
        </li>
        <li>
            <a title="NASA" href="https://nasa.gov/">
                <img src="{% static 'pages/img/nasa-logo.svg' %}" height="100" alt="NASA">
            </a>
        </li>
        <li>
            <a title="Django Project" href="https://www.djangoproject.com/">
                <img src="{% static 'pages/img/django_logo.png' %}" height="100" alt="Django Project">
            </a>
        </li>
        <li>
            <a title="Project Github" href="https://github.com/piwithy/WeatherInSight">
                <img src="{% static 'pages/img/github_logo.svg' %}" height="100" alt="project GitHub">
            </a>
        </li>
    </ul>
</nav>

<section class="container">
    <span id="empty"></span>
    <h1 Class="project_logo"><img src="{% static 'pages/img/weather_insight_logo_nasa.png' %}" alt="Weather InSight">
    </h1>
    <h2>
        <span class="project_slogan">Mars Weather right down to earth thanks to InSight</span>
    </h2>
    <p class="project_description">
        You ever wandered what's the weather on MARS?
        <br>
        When we will have finished YOU will know
    </p>
    <span id="empty"></span>
    <footer>
        <div class="foot">
            <p>
                <span id="visitor">Visitor: {{ hits }}</span><br>
                <span id="copyright">Copyright &copy; {{host}}.space 2020-<script>document.write(new Date().getFullYear())</script></span><br>
                <span id="joke">Powered by Rocket Fuel 🚀</span>
            </p>
        </div>
    </footer>
</section>
</body>
</html>
