{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if sol_day %}
        <title>Weather InSight | Detail for Sol {{ sol_day.sol_date }}</title>
    {% else %}
        <title>Weather InSight | Error</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    {{ wind_sectors |json_script:"wind_data" }}
    {{ sensor_data| json_script:"sensor_data" }}
    <script>
        const wind_data = JSON.parse(document.getElementById('wind_data').textContent);
        const sensor_data = JSON.parse(document.getElementById("sensor_data").textContent);
    </script>
</head>
<body>
<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>

<div class="content">
    {% if sol_day %}
        <div class="chart">
            <div class="chart_title">
                <span><hi>W</hi>ind <hi>R</hi>ose on <hi>S</hi>ol {{ sol_day.sol_date }}</span>
            </div>
            <div class="chart_area">
                <canvas id="wind_chart"></canvas>
            </div>
            <div class="wind_rose_fact">On Sol {{ sol_day.sol_date }} <span id="most_common_wind_direction"></span> was
                the most common wind
            </div>
        </div>
        <div class="sensors">
            <div class="PRE">
                <table>
                    <thead>
                    <tr>
                        <th class="sensor_type">Atmospheric Pressure</th>
                        <th class="sensor_high">High: <span id="pre_high">XX</span> Pa</th>
                        <th class="sensor_low">Low: <span id="pre_low">XX</span> Pa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="sensor_value" colspan="3"><span id="pre_avg">XX</span> Pa</td>
                    </tr>
                    <tr>
                        <td class="sensor_fact" colspan="3"><span id="pre_fact_value">XX</span>% of Earth Atmospheric
                            Pressure
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="HWS">
                <table>
                    <thead>
                    <tr>
                        <th class="sensor_type">Wind Speed</th>
                        <th class="sensor_high">High: <span id="hws_high">XX</span> km/h</th>
                        <th class="sensor_low">Low: <span id="hws_low">XX</span> km/h</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="sensor_value" colspan="3"><span id="hws_avg">XX</span> km/h</td>
                    </tr>
                    <tr>
                        <td class="sensor_fact" colspan="3">During a storm wind speed is about <span
                                id="hws_fact_value">XX</span> km/h
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="AT">
                <table>
                    <thead>
                    <tr>
                        <th class="sensor_type">Atmospheric Temperature</th>
                        <th class="sensor_high">High: <span id="at_high">XX</span> °C</th>
                        <th class="sensor_low">Low: <span id="at_low">XX</span> °C</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="sensor_value" colspan="3"><span id="at_avg">XX</span> °C</td>
                    </tr>
                    <tr>
                        <td class="sensor_fact" colspan="3">Average Earth Temperature is <span
                                id="at_fact_value">XX</span> °C
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    {% else %}

    {% endif %}
</div>
<div class="footer">{% include 'pages/footer.html' %}</div>

<script>
    const ctx = document.getElementById('wind_chart');
    const wind_char = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'],
            datasets: [{
                label: '% of Wind',
                data: (new Array(16)).fill(0).map((empty, idx) => wind_data[idx] ? (Math.round((wind_data[idx].ct / wind_data.cnt) * 10000) / 100) : 0),
                backgroundColor: [
                    'rgba(255, 61, 33, .6)',
                ],
                borderColor: [
                    'rgba(255, 61, 33, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            //startAngle: (-(0.5) * Math.PI) -0.19198622
        }
    });
</script>
<script>
    $('#most_common_wind_direction').html(wind_data['most_common']['compass_point'])
    //Sensors
    //HWS
    const HWS = sensor_data['HWS'];
    $('#hws_avg').html((HWS['av']*3.6).toFixed(2));
    $('#hws_high').html((HWS['mx']*3.6).toFixed(2));
    $('#hws_low').html((HWS['mn']*3.6).toFixed(2));
    $('#hws_fact_value').html(100);

    //PRE
    const PRE = sensor_data['PRE'];
    $('#pre_avg').html((PRE['av']).toFixed(2));
    $('#pre_high').html((PRE['mx']).toFixed(2));
    $('#pre_low').html((PRE['mn']).toFixed(2));
    $('#pre_fact_value').html((PRE['av']/101.5).toFixed(2));

    //AT
    const AT = sensor_data['AT'];
    $('#at_avg').html((AT['av']).toFixed(2));
    $('#at_high').html((AT['mx']).toFixed(2));
    $('#at_low').html((AT['mn']).toFixed(2));
    $('#at_fact_value').html(15);

</script>


</body>
</html>
