{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if sol_day %}
        <title>Weather InSight | Detail for Sol {{ sol_day.sol_date }}</title>
    {% else %}
        <title>Weather InSight | Error</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/nav_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/footer.css' %}">
</head>
<body>
<div class="nav_bar">{% include 'pages/nav_bar.html' %}</div>

<div class="content">
    {% if sol_day %}
    {% else %}

    {% endif %}
</div>

<div class="footer">{% include 'pages/footer.html' %}</div>
</body>
</html>
