/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    padding: 0;
    background: url("/assets/img/bg_image.jpg") no-repeat fixed;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}