html, body {
    margin: 0;
    padding: 0;
    background: url("../img/bg_image.jpg") no-repeat fixed;
    border-width: 0;
    color: white;
    /*min-width: 840px;*/
}

a {
    text-decoration: none;
    color: white;
}

body {

}


#wrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    background: linear-gradient(rgba(4, 60, 112, .7), rgba(2, 39, 74, .7));
    padding: 10px;
    width: 80vw;
    display: block;
    min-width: 880px;
}

#nav {
    width: 100%;
    display: flex;
    padding: 10px;
}

#nav #empty {
    flex-grow: 1;
}

#nav #nav_bar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 50px;
}

#nav a {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

#nav a:hover {
    background: rgba(204, 204, 204, .4);
}

#footer {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: #222;
}

#content {
    border: 1px rgb(128, 30, 16) solid;
}

#last_five ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

#last_five ul li {
    min-width: 10vw;
    text-align: center;
    /*margin:0 10px 0 10px;*/
    /*background: black;*/
}

#last_five ul #empty {
    /*background: lime;*/
    min-width: 0;
    flex-grow: 1;
}

#other_sols a {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

#other_sols a:hover {
    background: rgba(204, 204, 204, .4);
}

.main_sol {
    display: flex;
    border-bottom: 1px rgb(128, 30, 16) solid;
}

.main_sol .sol_data {
    width: 30%;
}

.main_sol .wind_rose_chart {
    width: 70%;
    text-align: center;
    border-left: 1px rgb(128, 30, 16) solid;
    padding-bottom: 5px;
}

.main_sol .sol_data {
    display: flex;
    flex-direction: column;
}

.main_sol .sol_data .sol_date {
    font-size: 1.7em;
}

.main_sol .sol_data #empty {
    flex-grow: 10;
}

.main_sol .sol_data .sol_temp {
    display: block;
    vertical-align: middle;
    font-size: 3em;
    text-align: center;
}

.main_sol .sol_data .sol_sensors ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;
}

#content table caption {
    font-size: 1.7em;
}

#content table a {
    display: block;
}

#content table a:hover {
    background: rgba(255, 255, 255, .5);
}

#content table {
    width: 100%;
    table-layout: fixed;
    font-size: 1.2em;
    text-align: center;
}

#content th {
    text-transform: uppercase;
}

#content tr:nth-child(odd) {
    background: rgba(255, 255, 255, .2);
}

#content tr:nth-child(even) {
    background: rgba(255, 255, 255, .05);
}

#content #wind_rose {
    display: flex;
}

#content #chart {
    width: 70%;
    text-align: center;
}

#content #chart #chart_title{
    font-size: 2em;
}

#content #wind_rose #sensors_tables {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 10px;
    border-left: 1px rgb(128, 30, 16) solid;
}

#content #wind_rose #sensors_tables .empty {
    flex-grow: 10;
}

@media (max-width: 1200px) {
    #content {
        width: 880px;
    }
}

@media (max-width: 1080px) {
    #content {
        width: 100%
    }

    .main_sol {
        flex-direction: column;
    }

    .main_sol .wind_rose_chart {
        border: none;
        width: 100%;
    }

    .main_sol .sol_data {
        border: none;
        width: 100%;
        border-bottom: 1px rgb(128, 30, 16) solid;
    }

    #last_five ul {
        flex-direction: column;
    }

    #nav {
        flex-direction: column;
        text-align: center;
    }

    #nav #nav_bar ul {
        text-align: center;
        flex-direction: column;
        height: auto;
    }

}
